@using Hostel.Common.Models.LogicModels
@model RoomsPageViewModel;
@{
    ViewData["Title"] = "Общежитие";
    ViewData["PageID"] = "Rooms";

}
@{
    List<Room> roomList = Model.RoomList;
    List<Student> studentList = Model.StudentList;
}


<!--Название таблицы-->
<div class="students-header">
    <h1 class="students-header-name">Общежитие</h1>
    <footer class="border-top footer" style="max-width:100%;width:100%;left:0"> </footer>
</div>




<!--Кнопки-->
<form method="post" asp-controller="Home" asp-action="Rooms" id="mainForm">
    <div class="button-container">
        <div class="button-block" id="AddButton" onclick="AddClick()">
            <a class="button-text">Добавить</a>
        </div>
        <div class="button-block" id="EditButton" onclick="EditClick()">
            <a class="button-text">Редактировать</a>
        </div>
        <div class="button-block" id="DeleteButton" onclick="DeleteClick()">
            <a class="button-text">Удалить</a>
        </div>


        <div class="button-block" id="ApplyDeleteButton" hidden>
            <a class="button-text">Удалить</a>
        </div>
        <div class="button-block" id="ApplyAddButton" hidden>
            <a class="button-text">Добавить</a>
        </div>
        <div class="button-block" id="ApplyEditButton" hidden>
            <a class="button-text">Подтвердить</a>
        </div>


        <div class="button-block" id="CancelButton" hidden>
            <a class="button-text">Отмена</a>
        </div>
        <input type="submit" value="Сохранить" id="SaveButton" class="button-block">

    </div>

    <!--Таблица-->
    <div class="students-table-container">
        <table id="table">
            <!--Шапка таблицы-->
            <tr class="students-table-header" id="headtable">
                <th>Этаж</th>
                <th>№</th>
                <th>Блок</th>
                <th>Ф.И.О.</th>
            </tr>
            @{
                string trGenderClassName = "";
            }
            @for (var i = 0; i < roomList.Count; i++)
            {


                @if (roomList[i].Students.Count > 0)
                {
                    @for (var j = 0; j < roomList[i].Students.Count; j++)

                    {
                        @if (roomList[i].Students[j].Gender == 'М')
                        {
                            trGenderClassName = "boy-student";
                        }
                        else if (roomList[i].Students[j].Gender == 'Ж')
                        {
                            trGenderClassName = "girl-student";
                        }
                        <tr class="@trGenderClassName">
                            <td>@roomList[i].Floor</td>
                            <td>@roomList[i].Number</td>
                            <td>@roomList[i].Unit</td>
                            <td>@roomList[i].Students[j].FullName</td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="empty">
                        <td>@roomList[i].Floor</td>
                        <td>@roomList[i].Number</td>
                        <td>@roomList[i].Unit</td>
                        <td>Пусто</td>
                    </tr>
                }

            }
            @for (var i = 0; i < studentList.Count; i++)
            {
                <option hidden id=@("student-id"+i)>@studentList[i].FullName</option>
                <input hidden> @studentList[i].FullName</input>
    }
        </table>
    </div>
</form>


<script type="text/javascript">
    $(document).ready(function () {
        $("select").chosen();
        $("chosen-select-width").chosen();

    });
</script>


<script src="~/js/RoomsPage.js"></script>
<script src="~/js/RoomsValidation.js"></script>